.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1276px;
	min-height: 1100px;
	background-image: none;
background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -53px;
	margin: auto;
}

#tab-panelu223
{
	z-index: 2;
	width: 950px;
	position: relative;
	text-align: center;
	margin: auto;
	margin-top:25px;
}

#u245
{
	z-index: 3;
	width: 206px;
	height:36px;
	position: relative;
	margin-left: 370px;
	
}

#u245 p
{
	margin: 0 auto;
	
}
#u250
{
	z-index: 4;
	width: 102px;
	height:36px;
	min-height: 57px;
	border-style: solid;
	border-color: #999999;
	background-color: #282561;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px;
	float: left;
}

#u250:hover
{
	border-style: solid;
	background-color: #555584;
	width: 102px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 0px;
}

#u250.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #282561;
	width: 102px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px;
}

#u252-4
{
	z-index: 5;
	width: 102px;
	height:36px;
	min-height: 36px;
	border-color: #999999;
	background-color: #282561;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14pt;
	position: relative;
	margin-right: -10000px;
}

#u250:hover #u252-4
{
	height:36px;
	border-color: #282561;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 0 auto;
}

#u367
{
	z-index: 9;
	width: 102px;
	height:36px;
	min-height: 36px;
	border-style: solid;
	border-color: #999999;
	background-color: #282561;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 105px;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px;
}

#u367:hover
{
	border-style: solid;
	background-color: #282561;
	width: 102px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 0px;
}

#u367.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #282561;
	width: 102px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 0px;
}

#u369-4
{
	z-index: 10;
	width: 102px;
	min-height: 36px;
	border-color: #282561;
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14pt;
	position: relative;
	margin:auto;
	margin-right: -10000px;
	top: 1px;
}

#u367:hover #u369-4
{
	border-color: #555584;
	padding-top: 0px;
	padding-bottom: 0px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u250.TabbedPanelsTabSelected #u252-4,#u367.TabbedPanelsTabSelected #u369-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	height:36px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u258
{
	z-index: 14;
	width: 950px;
	position: relative;
}

#u259
{
	z-index: 15;
	width: 927px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 26px 9px 26px 12px;
	border-width: 0px 0px 0px;
}

div.clearfix.grpelem
{
border-radius: 5px;
}

#u307
{
	z-index: 16;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float:left;

}

#u304
{
	z-index: 19;
	width: 288px;
	position: relative;
}

#u308-4
{
	z-index: 25;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 0px;
	position: relative;
}

#u309
{
	z-index: 17;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float:left;
}

#u302
{
	z-index: 21;
	width: 288px;
	position: relative;
}

#u306-4
{
	z-index: 29;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u311
{
	z-index: 18;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3.4999999999998295px 4px;
}

#u312
{
	z-index: 23;
	width: 288px;
	position: relative;
}

#u310-4
{
	z-index: 33;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 105px;
	margin-top: 3px;
	position: relative;
}

#u318
{
	z-index: 37;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float: left;
}

#u319
{
	z-index: 40;
	width: 288px;
	position: relative;
}

#u326-4
{
	z-index: 46;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u323
{
	z-index: 38;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float: left;
}

#u324
{
	z-index: 42;
	width: 288px;
	position: relative;
}

#u315-4
{
	z-index: 50;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u322
{
	z-index: 39;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3.4999999999997726px 4px;
}

#u316
{
	z-index: 44;
	width: 288px;
	position: relative;
}

#u321-4
{
	z-index: 54;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 105px;
	margin-top: 3px;
	position: relative;
}

#u327
{
	z-index: 58;
	width: 927px;
	margin-top: 19px;
	position: relative;
}

#u339
{
	z-index: 59;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float:left; 
}

#u330
{
	z-index: 62;
	width: 288px;
	position: relative;
}

#u333-4
{
	z-index: 68;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u334
{
	z-index: 60;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float:left;
}

#u328
{
	z-index: 64;
	width: 288px;
	position: relative;
}

#u332-4
{
	z-index: 72;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u335
{
	z-index: 61;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3px 4px;
}

#u336
{
	z-index: 66;
	width: 288px;
	position: relative;
}

#u338-4
{
	z-index: 76;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u347
{
	z-index: 80;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	float:left;
}

#u341
{
	z-index: 83;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u344
{
	z-index: 81;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	float:left;
}

#u345
{
	z-index: 85;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u348
{
	z-index: 82;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
}

#u350
{
	z-index: 87;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u343-4
{
	z-index: 89;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	float:left;
	margin-top: -15px;
}

#u349-4
{
	z-index: 93;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	float:left;
	margin-top: -15px;
}

#u352-4
{
	z-index: 97;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	margin-top: -62px;
}

#u371
{
	z-index: 101;
	width: 950px;
	height:1152px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 0px 0px;
}

#u510
{
	z-index: 102;
	width: 297px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 641px;
}

#u571
{
	z-index: 103;
	width: 927px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 26px 9px 26px 12px;
	border-width: 0px 0px 0px;
}

#pu307,#pu508
{
	width: 0.01px;
	position: relative;
}

#u508
{
	z-index: 168;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float:left;
}

#u511
{
	z-index: 170;
	width: 288px;
	position: relative;
}

#u517-4
{
	z-index: 176;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u509
{
	z-index: 169;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float:left;
}

#u513
{
	z-index: 172;
	width: 288px;
	position: relative;
}

#u518-4
{
	z-index: 180;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#pu515
{
	width: 0.01px;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3.4999999999998295px 4px;
}

#u515
{
	z-index: 174;
	width: 288px;
	position: relative;	
}

#u519-4
{
	z-index: 184;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 105px;
	margin-top: 3px;
	position: relative;
}

#pu318,#pu520
{
	width: 0.01px;
	margin-top: 18px;
	position: relative;
}

#u520
{
	z-index: 104;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float: left;
	}

#u523
{
	z-index: 107;
	width: 288px;
	position: relative;
}

#u529-4
{
	z-index: 113;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u521
{
	z-index: 105;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float: left;
	}

#u525
{
	z-index: 109;
	width: 288px;
	position: relative;
}

#u530-4
{
	z-index: 117;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u522
{
	z-index: 106;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3.4999999999997726px 4px;
}

#u527
{
	z-index: 111;
	width: 288px;
	position: relative;
}

#u531-4
{
	z-index: 121;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 105px;
	margin-top: 3px;
	position: relative;
}

#u532
{
	z-index: 125;
	width: 927px;
	margin-top: 19px;
	position: relative;
}

#u533
{
	z-index: 126;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	padding: 6px 5px 3px 4px;
	float:left; 
}

#u535
{
	z-index: 129;
	width: 288px;
	position: relative;
}

#u540-4
{
	z-index: 135;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u534
{
	z-index: 127;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	padding: 6px 5px 3px 4px;
	float:left;
}

#u541
{
	z-index: 131;
	width: 288px;
	position: relative;
}

#u543-4
{
	z-index: 139;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#u544
{
	z-index: 128;
	width: 288px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	padding: 6px 5px 3px 4px;
}

#u538
{
	z-index: 133;
	width: 288px;
	position: relative;
}

#u537-4
{
	z-index: 143;
	width: 69px;
	min-height: 23px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	margin-left: 110px;
	margin-top: 4px;
	position: relative;
}

#pu347,#pu545
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#u545
{
	z-index: 147;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	float:left;
}

#u548
{
	z-index: 150;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
	float: left;
}

#u546
{
	z-index: 148;
	z-index: 81;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	float:left;
}

#u550
{
	z-index: 152;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u547
{
	z-index: 149;
	width: 297px;
	height:229px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #282561;
	padding-bottom: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 628px;
}

#u552
{
	z-index: 154;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#pu343-4,#pu554-4
{
	width: 0.01px;
	margin-left: 115px;
	margin-top: -50px;
	position: relative;
}

#u554-4
{
	z-index: 156;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	float:left;
	margin-top: -15px;
}

#u555-4
{
	z-index: 160;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	float:left;
	margin-top: -15px;
}

#u556-4
{
	z-index: 164;
	width: 69px;
	font-size: 19px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 628px;
	margin-top: -62px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

